/* Root and all css */
:root {
  --myPlatinum: #dce0d9;
  --myPlum: #6b0f1a;
  --myGrey: #595959;
  --myPurple: #31081f;
  --myXanadu: #808f85;
  --myBlack: #171a21;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* HTML & Body css  */
html,
body {
  height: 100%;
  display: flex;
  flex-direction: column;
}
body {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  line-height: 1.5;
}
/* Header CSS */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 20%;
  height: 20%;
  border-top: var(--myBlack) solid 5px;
  position: relative;
}
#headerLogo {
  height: 100%;
  width: auto;
  padding-left: 3px;
}
#headerTitle {
  display: flex;
  justify-content: center;
  right: 600px;
}
nav {
  display: flex;
  padding-right: 2.5%;
  width: 300px;
  justify-content: space-between;
}
nav a {
  text-decoration: none;
  color: var(--myPlum);
}
nav a:hover {
  text-decoration: underline;
}

header,
.hero-banner {
  border-left: var(--myBlack) solid 5px;
  border-right: var(--myBlack) solid 5px;
}
/* Hero Banner  */
.hero-banner {
  display: flex;
  justify-content: center;
  min-height: 30%;
  height: 30%;
  align-items: center;
  font-size: 21px;
}
#loading-logo {
  width: 150px;
  height: 20px;
}
/* Main section */
main {
  grid-column: 1/5;
  grid-template-columns: 2fr 2fr 2fr;
  display: grid;
  grid-template-areas:
    "about1 work1 work1"
    "about1 work1 work1"
    "about1 work1 work1";
  flex: 1em;
}
/* Main about CSS  */
.main-section h1 {
  display: flex;
  justify-content: center;
  text-decoration: underline;
  font-size: xx-large;
}
#about {
  grid-area: about1;
  border: var(--myBlack) solid 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
#profile-pic {
  display: flex;
  align-self: center;
  max-height: 350px;
  max-width: 200px;
  border: var(--myPlum) solid 5px;
}
.sub-header {
  font-size: x-large;
  display: flex;
  text-decoration: underline;
  padding-left: 5px;
  justify-content: center;
}
section p {
  display: flex;
  justify-content: center;
  padding: 5% 5%;
  font-size: larger;
  text-align: center;
}
/* Main Work css  */
#work {
  grid-area: work1;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
    "work1 work1 work2"
    "work1 work1 work2"
    "work3 work3 work4";
  border: var(--myBlack) solid 5px;
  position: relative;
}
#work-title {
  position: absolute;
  color: var(--myPlum);
  background-color: rgba(220, 224, 217, 0.9);
  max-width: 400px;
  width: 300px;
  height: 100px;
  font-size: xx-large;
  padding: 25px;
  display: block;
  text-align: center;
  top: 465px;
  right: 175px;
  text-decoration: underline;
  border: var(--myBlack) solid 5px;
}
.work-sec {
  display: flex;
  background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  border-left: var(--myBlack) solid 5px;
  border-right: var(--myBlack) solid 5px;
  margin: -1px;
}
#work1 {
  grid-area: work1;
  background-image: url(../images/Horiseon_screenshot.png);
}
#work2 {
  grid-area: work2;
  background-image: url(../images/placeholder-img1.jpg);
  width: 100%;
  justify-content: flex-end;
}
#work3 {
  grid-area: work3;
  background-image: url(../images/placeholder-img2.jpg);
}
#work4 {
  grid-area: work4;
  background-image: url(../images/placeholder-img3.jpg);
  justify-content: flex-end;
}
.work-title {
  background-color: rgba(220, 224, 217, 1);
  padding: 5%;
  font-size: large;
}
#workTitle1,
#workTitle2 {
  align-self: flex-start;
}
#workTitle3,
#workTitle4 {
  align-self: flex-end;
}
#workTitle1 {
  border-bottom: var(--myBlack) solid 5px;
  border-right: var(--myBlack) solid 5px;
}
#workTitle2 {
  border-bottom: var(--myBlack) solid 5px;
  border-left: var(--myBlack) solid 5px;
}
#workTitle3 {
  border-top: var(--myBlack) solid 5px;
  border-right: var(--myBlack) solid 5px;
}
#workTitle4 {
  border-top: var(--myBlack) solid 5px;
  border-left: var(--myBlack) solid 5px;
}
/* Footer CSS  */
#contact {
  padding-top: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: large;
  min-height: 25%;
  height: 25;
  justify-content: center;
  border-top: var(--myBlack) solid 10px;
}
#github {
  text-decoration: none;
  color: var(--myPlatinum);
}
#github:hover {
  text-decoration: underline;
}
#email {
  font-size: large;
}
/* Class aesthetic selection */
.bottom-border {
  border-bottom: var(--myBlack) solid 10px;
}
.bg-plum {
  background-color: var(--myPlum);
  color: var(--myPlatinum);
}
.bg-plat {
  background-color: var(--myPlatinum);
  color: var(--myPlum);
}

@media (max-width: 780px) {
  /* Header media 780px  */
  #headerTitle {
    right: auto;
    position: absolute;
    top: 110px;
    left: 180px;
  }
  nav {
    margin-left: auto;
  }

  /* Hero Banner media 780px  */
  .bottom-border {
    border-bottom: var(--myBlack) solid 5px;
  }
  .hero-banner {
    min-height: 20%;
    font-size: 14px;
  }
  #loading-logo {
    width: 100px;
    height: 15px;
  }
  /* Main media 780px  */
  main {
    display: flex;
    flex-wrap: wrap;
  }
  #work {
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "work1 work2"
      "work3 work4";
    height: 600px;
    width: 100%;
    border: 0;
  }
  #work-title {
    top: 250px;
    margin: auto;
    width: 60%;
    padding: 0%;
  }
  #work4 {
    border-top: var(--myBlack) 5px solid;
  }
  /* Footer media & multiple 780px  */
  #contact {
    border: var(--myBlack) solid 5px;
    border-top: 0;
  }
  header,
  .hero-banner {
    border-bottom: 0;
  }
}

@media (max-width: 450px) {
  body {
    flex-direction: column;
  }
  /* Header media 450px*/
  header {
    min-height: auto;
    height: auto;
    flex-direction: column;
    border: var(--myBlack) solid 5px;
  }

  #headerLogo {
    height: 130px;
    width: auto;
  }

  #headerTitle {
    position: unset;
  }

  nav {
    height: 50px;
    margin: 0;
    align-items: center;
  }

  /* Hero Banner media 450px */
  .hero-banner {
    border: var(--myBlack) solid 5px;
  }

  .hero-banner h2 {
    font-size: 100%;
  }

  #loading-logo {
    padding-left: 5px;
  }

  /* Main Media 450px */
  main {
    display: flex;
    flex-wrap: wrap;
  }
  #about {
    border-bottom: 0;
  }
  #work {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    border-left: var(--myBlack) solid 5px;
    border-right: var(--myBlack) solid 5px;
  }
  #work-title {
    position: relative;
    color: var(--myPlatinum);
    background-color: rgba(107, 15, 26, 0.9);
    width: 100%;
    padding: 25px;
    top: auto;
    right: auto;
    left: auto;
  }
  #work1 {
    height: 300px;
    width: 100%;
    border: 0;
    border-top: var(--myBlack) solid 5px;
  }
  #workTitle1 {
    background-color: rgba(220, 224, 217, 1);
  }
  #work2 {
    height: 300px;
    width: 100%;
    border: 0;
    border-top: var(--myBlack) solid 5px;
  }

  #workTitle2 {
    background-color: rgba(220, 224, 217, 1);
  }
  #work3 {
    height: 300px;
    width: 100%;
    border: 0;
    border-top: var(--myBlack) solid 5px;
  }
  #workTitle3 {
    background-color: rgba(220, 224, 217, 1);
    align-self: flex-start;
    border-bottom: var(--myBlack) solid 5px;
    border-top: 0;
  }
  #work4 {
    height: 300px;
    width: 100%;
    border: 0;
    border-top: var(--myBlack) solid 5px;
  }
  #workTitle4 {
    background-color: rgba(220, 224, 217, 1);
    align-self: flex-start;
    border-bottom: var(--myBlack) solid 5px;
    border-top: 0;
  }
  /* Footer media 450px */
  #contact {
    border: var(--myBlack) solid 5px;
  }
  /* Class media 450px */
  .bottom-border {
    border-bottom: 0;
  }
}
